# Example of installing the released package directly from the GitHub tag
# Replace v0.3.0 with the tag created from piphub.yaml (prefix + version)
# Either install directly:
#   pip install git+https://github.com/ltanedo/super-stepper.git@v0.3.0#egg=super-stepper
# Or via this requirements file:
git+https://github.com/ltanedo/super-stepper.git@v0.3.0#egg=super-stepper
